<!DOCTYPE html>
<html lang="en" xmlns:wb=“http://open.weibo.com/wb”>
<head>
    <meta  charset="utf-8"/>
    <title>My Blog</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->

    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

<style type="text/css">
    .mydiv{
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=2);/*ie*/
        -moz-box-shadow: 1px 1px 10px #909090;/*firefox*/
        -webkit-box-shadow: 1px 1px 10px #909090;/*safari或chrome*/
        box-shadow:1px 1px 10px #909090;/*opera或ie9*/
        background-color: white;
    }
</style>


<body style="background-image: url('../static/img/bg_3.png')" >
<!--导航条-->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">我的小站</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"> <a href="/about">关于我</a></li>
                    <li > <a href="#">标签</a> </li>
                    <li > <a href="#">月份归档</a> </li>
                    <li > <a href="#">友情链接</a> </li>
                </ul>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="mydiv hero-unit" style="margin-top: 70px;height: 500px">

        新华网北京11月8日电　胡锦涛同志在十八大报告中提出，大力推进生态文明建设。
        　　他指出，当前和今后一个时期，要重点抓好四个方面的工作：一是要优化国土空间开发格局;二是要全面促进资源节约;三是要加大自然生态系统和环境保护力度;四是要加强生态文明制度建设。
    </div>
</div>

<!--底部-->
<div class="container">
    <center><dl>Designed by martin|web.py|bae</dl></center>
</div>
</body>
</html>